@font-face{
	font-family:"gibsonLight";
	src:url("https://www.dr.dk/assets/fonts/gibson/light/gibson-light-webfont.eot");
	src:url("https://www.dr.dk/assets/fonts/gibson/light/gibson-light-webfont.eot?#iefix") format("embedded-opentype"),
	url("https://www.dr.dk/assets/fonts/gibson/light/gibson-light-webfont.woff2") format("woff2"),
	url("https://www.dr.dk/assets/fonts/gibson/light/gibson-light-webfont.woff") format("woff"),
	url("https://www.dr.dk/assets/fonts/gibson/light/gibson-light-webfont.ttf") format("truetype"),
	url("https://www.dr.dk/assets/fonts/gibson/light/gibson-light-webfont.svg") format("svg");
	font-weight:normal;
}
@font-face{
	font-family:"gibsonRegular";
	src:url("https://www.dr.dk/assets/fonts/gibson/regular/gibson-regular-webfont.eot");
	src:url("https://www.dr.dk/assets/fonts/gibson/regular/gibson-regular-webfont.eot?#iefix") format("embedded-opentype"),
	url("https://www.dr.dk/assets/fonts/gibson/regular/gibson-regular-webfont.woff2") format("woff2"),
	url("https://www.dr.dk/assets/fonts/gibson/regular/gibson-regular-webfont.woff") format("woff"),
	url("https://www.dr.dk/assets/fonts/gibson/regular/gibson-regular-webfont.ttf") format("truetype"),
	url("https://www.dr.dk/assets/fonts/gibson/regular/gibson-regular-webfont.svg") format("svg");
	font-weight:normal;
}
@font-face{
	font-family:"gibsonSemiBold";
	src:url("https://www.dr.dk/assets/fonts/gibson/semiBold/gibson-semiBold-webfont.eot");
	src:url("https://www.dr.dk/assets/fonts/gibson/semiBold/gibson-semiBold-webfont.eot?#iefix") format("embedded-opentype"),
	url("https://www.dr.dk/assets/fonts/gibson/semiBold/gibson-semiBold-webfont.woff2") format("woff2"),
	url("https://www.dr.dk/assets/fonts/gibson/semiBold/gibson-semiBold-webfont.woff") format("woff"),
	url("https://www.dr.dk/assets/fonts/gibson/semiBold/gibson-semiBold-webfont.ttf") format("truetype"),
	url("https://www.dr.dk/assets/fonts/gibson/semiBold/gibson-semiBold-webfont.svg") format("svg");
	font-weight:normal
}
@font-face{
	font-family:"gibsonBold";
	src:url("https://www.dr.dk/assets/fonts/gibson/bold/gibson-bold-webfont.eot");
	src:url("https://www.dr.dk/assets/fonts/gibson/bold/gibson-bold-webfont.eot?#iefix") format("embedded-opentype"),
	url("https://www.dr.dk/assets/fonts/gibson/bold/gibson-bold-webfont.woff2") format("woff2"),
	url("https://www.dr.dk/assets/fonts/gibson/bold/gibson-bold-webfont.woff") format("woff"),
	url("https://www.dr.dk/assets/fonts/gibson/bold/gibson-bold-webfont.ttf") format("truetype"),
	url("https://www.dr.dk/assets/fonts/gibson/bold/gibson-bold-webfont.svg") format("svg");
	font-weight:normal;
}

body {
	margin: 0px;
	padding: 0px 0px 400px;
}

.hash-component-inner-wrapper {
	position: relative;
	background-size: cover;
}
.hash-component-inner-wrapper h2 {
	font-size: calc(10px + 5.5vw);
	font-family: gibsonBold;
	font-style: italic;
	font-weight: 100;
	text-transform: uppercase;
	text-align: center;
	margin-top: 0px;
	position: absolute;
	top: calc(-2.75vw - 10px);
	left: 0;
	right: 0;
	color: inherit;
	opacity: 0;
	transition: opacity 1.5s;
	z-index: 50;
	line-height: 0.9;
	padding: 0 40px;
}
.hash-component-inner-wrapper h2.small {
	font-size: calc(10px + 4.5vw);
	top: calc(-3.25vw - 10px);
}

 .hash-component-inner-wrapper h2.intersecting {
	opacity: 1;
	transition: opacity 1.5s, transform 0.3s;
}
.hash-component-inner-wrapper {
	color: #5dce38;
}

[data-hash-component] p {
	font-size: 22px;
	line-height: 1.1;
}
#hash-intro-earnings {
	font-size: 22px;
	font-family: gibsonRegular;
	color: #fff;
	text-align: center;
	max-width: 680px;
	margin: 0px auto;
    padding: 0 20px;
}

/* IMAGES */
#hash-cost-image {
	padding: 0px 15vw 40px;
}


/* BOXES */
.hash-component-outer-wrapper {
	padding: 7vw;
	background-size: cover;

}
.hash-component-inner-wrapper {
	min-height: 25vw;
}
.hash-credits .hash-component-inner-wrapper {
	min-height: auto;
}

.hash-component-inner-wrapper img {
	width: 100%;
	height: auto;
	vertical-align:top;
}
.hash-credits .flex-component {
	max-width: 680px;
	margin: 0 auto;
	box-sizing: content-box;
}

.flex-component .hash-component-outer-wrapper .hash-component-inner-wrapper {
	display: flex;
}
.flex-component-wrapper {
	padding: 5vw;
	p, a {
		font-family: gibsonRegular;
		color: inherit;
	}
}
.survey-wrapper {
	padding-top: 15vw;
	p {
		text-align: center;
		color: inherit;
		max-width: 800px;
		text-align: center;
		margin: 0 auto;
		padding: 0 10px;
		font-family: gibsonRegular;
	}
}
.survey-wrapper.survey-label-above {
	//padding-top: 15vw;
	[data-survey-slider]  {
		.dr-survey-slider-minmark {
			position: absolute;
			top: -20px;
			left: 0px;
		}
		.dr-survey-slider-maxmark {
			position: absolute;
			top: -20px;
			right: 0px;
		}
	}
}

.hash-typology {
	display: flex;
	flex-direction: column;
	padding-top: 10vw;
	padding-bottom: 5vw;
	.hash-component-section {
		color: #fff;

	}
}
.hash-component-section-wrapper {
	padding-top: 10vw;
}
.hash-psycological-issues, .hash-production-countries, .hash-production-price, .hash-psycological-issues {
	.hash-component-section p {
		color: #fff;
		font-family: gibsonRegular;
	}
}
.hash-psycological-issues .hash-component-section-wrapper {
	padding-top: 0;
	padding-bottom: 40px;
}
.hash-psycological-issues .hash-psycological-issues-first-section.hash-component-section-wrapper {
	padding-top: calc(14vw + 50px);
	padding-bottom: 0px;
}
.hash-production-price .hash-component-section p {
	text-align: center;
	color: #53ad31;
}
.hash-strength p {
	text-align: center;
	color: #000;
}
.hash-strength p, .hash-psycological-issues p {
	max-width: 600px;
	padding-left: 20px;
	padding-right: 20px;
	font-family: gibsonRegular;
	text-align: center;
	margin: 0 auto;
}

.hash-typology, .hash-earnings {
	.hash-component-section {
		width: 100%;
		padding: 10px;
		max-width: 400px;
		position: relative;
		z-index: 10;

		h4, h5 {
			font-size: calc(10px + 2.5vw);
			font-family: gibsonBold;
			font-style: italic;
			font-weight: 100;
			text-transform: uppercase;
			color: #fff;
			line-height: 1.1;
		}
		h5 {
			font-size: calc(10px + 1.5vw);
			color: #53ad31;
		}
		p {
			color: #fff;
			font-family: gibsonRegular;
		}
	}
	.hash-component-section.hash-component-section-left {
		img {
			left: 100%;
		}
	}
}
.hash-earnings .hash-component-section h5 {
	color: #5dce38;
}
.hash-production-countries {
	position: absolute;
	left: 0;
	right: 0;
	top: 10vw;
    padding: 10px;
	.hash-component-section {
		text-align: center;
		margin: 0 auto;
		max-width: 600px;
	}
}
.hash-typology, .hash-earnings {
	.hash-component-section {
		margin: 0 auto;
		text-align: center;
	}
}

.hash-earnings .hash-component-section img {
	width: auto;
	max-width: 100%;
}
p.source {
	font-size: 18px;
	padding: 30px 0px 10px;
}
p.disclaimer {
	padding: 20px 10px 40px;
	max-width: 600px;
	font-size: 18px;
	font-family: gibsonLight;
	font-style: italic;
	text-align: center;
	color: #fff;
	margin: 0 auto 0px;
	line-height: 1.1;
}

.allowed-countries {
	text-align: center;
	padding-top: 10vw;
	padding-bottom: 40px;
	h5 {
		color: #fff;
		font-size: calc(10px + 5.5vw);
		font-family: gibsonBold;
		font-style: italic;
		line-height: 1;
	}
	.country-wrapper {
		margin: 8px auto 20px;
		display: flex;
		max-width: 45vw;
		h5 {
			margin-top: 0px;
		}
		p {
			color: #fff;
			font-family: gibsonRegular;
			text-align: left;
			padding-top: 8px;
			padding-left: 8px;
		}
	}
	p {
		font-size: 18px;
		font-family: gibsonRegular;
		color: #fff;
	}
	.notes {
		color: #fff;
		font-size: 18px;
		font-family: gibsonLight;
		padding: 0 40px;
	}
}

@media (min-width: 830px) {
	.hash-component-section.hash-component-section-left {
		align-self: center;
		text-align: right;
		position: relative;
		right: 170px;
	}
	.hash-component-section.hash-component-section-right {
		align-self: center;
		position: relative;
		left: 170px;
		text-align: left;
	}
	.hash-typology {
		.hash-component-section {
			img {
				max-width: 300px;
				width: 100%;
				position: absolute;
				z-index: -1;
				right: 100%;
			}
			#hash-image-type-hash {
				max-width: 250px;
			}
		}
	}
}
#hash-image-type-hash {
	max-width: 250px;
}

/* VIDEO */
[data-hash-video] {
	position: relative;
}
[data-hash-video] .video-component-button {
	width: 60px;
	height: 60px;
	background: none;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 50%;
	transform: translateY(-50%);
	z-index: 40;

}
[data-hash-video] video {
	width: 100%;
	height: auto;
	vertical-align: top;
}
.video-component-button-playing {
	display: none;
}

/* LETTER ANIMATION */



.intersecting.text-animation {
	animation-name: blur;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
	filter: blur(0.5px);
	@media screen and (min-width: 768px) {
		animation-name: blurdesk;
	}
}


/* BOOL QUESTION  */
[data-question-bool-question] {
	display: flex;
}
[data-question-bool-question].hidden {
	display: none;
}
[data-question-bool] {

	padding: 80px 0px;
}
[data-question-bool-answer] {
	display: none;
	padding-top: 7vw;
	max-width: 600px;
	margin: 0 auto;
	padding-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;
	color: #fff;
	ul {
		font-size: 22px;
		line-height: 1;
	}
	p {
		font-family: gibsonRegular;
		font-size: 22px;
		color: inherit;
	}
	h3 {
		color: inherit;
		font-family: gibsonBold;
		font-style: italic;
		text-transform: uppercase;
		font-size: 26px;
		line-height: 1.2;
	}
}
[data-question-bool-answer].shown {
	display: block;
}
.bool-question-button {
	height: auto;
	width: auto;
	color: rgb(255, 255, 255);
	font-size: 40px;
	line-height: 1;
	text-transform: uppercase;
	background: transparent;
	border: none;
	position: relative;
	z-index: 5;
	outline: none;
	margin: 60px auto 10px;
	display: block;
	font-family:"gibsonBold";
	font-style: italic;
	cursor: pointer;
	&:after {
	  content: '';
	  width: calc(100% + 20px);
	  border: 10px solid #5dce38;
	  height: 25px;
	  background: #5dce38;
	  display: block;
	  position: relative;
	  z-index: -1;
	  top: -20px;
	  left: -10px;
	}

}

/* PIE */
[data-hash-pie] svg {
	width: 120px;
	height: 120px;
}

/* SLIDER */

.dr-survey-slider-feedback {
	font-family: gibsonRegular;
	font-size: 18px;
	text-align: center;
}

/* CREDITS */
.hash-credits {
	margin: 0 auto;
}
.hash-credits p {
	font-family: gibsonRegular;
	font-size: 18px;
	text-align: center;

}


.text-animation.text-cycle-1 {

	animation-delay: 0.5s;
}
.text-animation.text-cycle-2 {

	animation-delay: 1.5;
}

.text-animation.text-cycle-3 {

	animation-delay: 2.5s;
}
.text-animation.text-cycle-4 {

	animation-delay: 3.5s;
}

@keyframes blur {
	0% {
		filter: blur(1px);
    }
	100% {
		filter: blur(2px);
	}
}
@keyframes blurdesk {
	0% {
		filter: blur(1px);
    }
	100% {
		filter: blur(5px);
	}
}
/* HACKS */
.progress-statusbar {
	display: none;
}