@font-face{
	font-family:"gibsonLight";
	src:url("https://www.dr.dk/assets/fonts/gibson/light/gibson-light-webfont.eot");
	src:url("https://www.dr.dk/assets/fonts/gibson/light/gibson-light-webfont.eot?#iefix") format("embedded-opentype"),
	url("https://www.dr.dk/assets/fonts/gibson/light/gibson-light-webfont.woff2") format("woff2"),
	url("https://www.dr.dk/assets/fonts/gibson/light/gibson-light-webfont.woff") format("woff"),
	url("https://www.dr.dk/assets/fonts/gibson/light/gibson-light-webfont.ttf") format("truetype"),
	url("https://www.dr.dk/assets/fonts/gibson/light/gibson-light-webfont.svg") format("svg");
	font-weight:normal;
}
@font-face{
	font-family:"gibsonRegular";
	src:url("https://www.dr.dk/assets/fonts/gibson/regular/gibson-regular-webfont.eot");
	src:url("https://www.dr.dk/assets/fonts/gibson/regular/gibson-regular-webfont.eot?#iefix") format("embedded-opentype"),
	url("https://www.dr.dk/assets/fonts/gibson/regular/gibson-regular-webfont.woff2") format("woff2"),
	url("https://www.dr.dk/assets/fonts/gibson/regular/gibson-regular-webfont.woff") format("woff"),
	url("https://www.dr.dk/assets/fonts/gibson/regular/gibson-regular-webfont.ttf") format("truetype"),
	url("https://www.dr.dk/assets/fonts/gibson/regular/gibson-regular-webfont.svg") format("svg");
	font-weight:normal;
}
@font-face{
	font-family:"gibsonSemiBold";
	src:url("https://www.dr.dk/assets/fonts/gibson/semiBold/gibson-semiBold-webfont.eot");
	src:url("https://www.dr.dk/assets/fonts/gibson/semiBold/gibson-semiBold-webfont.eot?#iefix") format("embedded-opentype"),
	url("https://www.dr.dk/assets/fonts/gibson/semiBold/gibson-semiBold-webfont.woff2") format("woff2"),
	url("https://www.dr.dk/assets/fonts/gibson/semiBold/gibson-semiBold-webfont.woff") format("woff"),
	url("https://www.dr.dk/assets/fonts/gibson/semiBold/gibson-semiBold-webfont.ttf") format("truetype"),
	url("https://www.dr.dk/assets/fonts/gibson/semiBold/gibson-semiBold-webfont.svg") format("svg");
	font-weight:normal
}
@font-face{
	font-family:"gibsonBold";
	src:url("https://www.dr.dk/assets/fonts/gibson/bold/gibson-bold-webfont.eot");
	src:url("https://www.dr.dk/assets/fonts/gibson/bold/gibson-bold-webfont.eot?#iefix") format("embedded-opentype"),
	url("https://www.dr.dk/assets/fonts/gibson/bold/gibson-bold-webfont.woff2") format("woff2"),
	url("https://www.dr.dk/assets/fonts/gibson/bold/gibson-bold-webfont.woff") format("woff"),
	url("https://www.dr.dk/assets/fonts/gibson/bold/gibson-bold-webfont.ttf") format("truetype"),
	url("https://www.dr.dk/assets/fonts/gibson/bold/gibson-bold-webfont.svg") format("svg");
	font-weight:normal;
}

body {
	margin: 0px;
	padding: 0px 0px 400px;
}

.hash-component-inner-wrapper {
	position: relative;
}
.hash-component-inner-wrapper h2 {
	font-size: 5.5vw;
	font-family: gibsonBold;
	font-style: italic;
	font-weight: 100;
	text-transform: uppercase;
	text-align: center;
	margin-top: 0px;
	position: absolute;
	top: -2.75vw;
	left: 0;
	right: 0;
	color: inherit;
	opacity: 0;
	transition: opacity 1.5s;
	z-index: 50;
	line-height: 0.9;
}

 .hash-component-inner-wrapper h2.intersecting {
	opacity: 1;
	transition: opacity 1.5s, transform 0.3s;
}
.hash-component-inner-wrapper {
	color: #5dce38;
}

/* BOXES */
.hash-component-outer-wrapper {
	padding: 5vw;
	background-size: cover;

}
.hash-component-inner-wrapper {
	min-height: 25vw;
}

.hash-component-inner-wrapper img {
	width: 100%;
	height: auto;
	vertical-align:top;
}

/* VIDEO */
[data-hash-video] {
	position: relative;
}
[data-hash-video] .video-component-button {
	width: 60px;
	height: 60px;
	background: none;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 50%;
	transform: translateY(-50%);
	z-index: 40;

}
[data-hash-video] video {
	width: 100%;
	height: auto;
	vertical-align: top;
}
.video-component-button-playing {
	display: none;
}

/* LETTER ANIMATION */



.intersecting.text-animation {
	animation-name: blur;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
	filter: blur(0.5px);
}

/* BOOL QUESTION  */
[data-question-bool-question] {
	display: flex;
}
[data-question-bool-question].hidden {
	display: none;
}
[data-question-bool] {

	padding-top: 40px;
}
[data-question-bool-answer] {
	display: none;
	padding-top: 10px;
	max-width: 600px;
	margin: 0 auto;
	padding-bottom: 40px;
	p {
		font-family: gibsonRegular;
		font-size: 16px;
	}
	h3 {
		font-family: gibsonBold;
		font-style: italic;
		text-transform: uppercase;
		font-size: 26px;
	}
}
[data-question-bool-answer].shown {
	display: block;
}
.bool-question-button {
	height: auto;
	width: auto;
	color: rgb(255, 255, 255);
	font-size: 40px;
	line-height: 1;
	text-transform: uppercase;
	background: transparent;
	border: none;
	position: relative;
	z-index: 5;
	outline: none;
	margin: 60px auto 10px;
	display: block;
	//padding: 0px 16px 36px;
	// font-family: gibsonBold;
	// border-radius: 24px;
	// box-shadow: 0 3px 2px 0px #000;
	font-family:"gibsonBold";
	font-style: italic;
	cursor: pointer;
	&:after {
	  content: '';
	  width: 100%;
	  border: 10px solid #488429;
	  height: 20px;
	  background: #488429;
	  display: block;
	  position: relative;
	  z-index: -1;
	  top: -20px;
	  left: -10px;
	}
  }

/* PIE */
[data-hash-pie] svg {
	width: 120px;
	height: 120px;
}

/* SLIDER */

.dr-survey-slider-feedback {
	font-family: gibsonRegular;
	font-size: 16px;
}


.text-animation.text-cycle-1 {

	animation-delay: 0.5s;
}
.text-animation.text-cycle-2 {

	animation-delay: 1.5;
}

.text-animation.text-cycle-3 {

	animation-delay: 2.5s;
}
.text-animation.text-cycle-4 {

	animation-delay: 3.5s;
}

@keyframes blur {
	0% {
		filter: blur(1px);
  }
	100% {
		filter: blur(2px);
	}
}

/* HACKS */
.progress-statusbar {
	display: none;
}